body {
    background-color: #FFFFFF;
}

h1.bigger {
    font-size: 4em;
    vertical-align: middle;
}

div.footer {
    background-color: #FFFFFF;
}

h1 {
    font-size: 2.5em;
    vertical-align: middle;
}